* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* template admin */
.template-admin {
  display: flex;
  background-color: bisque;
}

/* menu admin */
.menu-admin {
  width: 300px;
  height: 100vh;
  background-color: aqua;
  position: fixed;
  transition: all 1s;
}
.menu-admin.slide {
	margin-left: -300px;
}
.tampilan.slide {
	margin-left: 0;
}

.tampilan {
  width: 100vw;
  margin-left: 300px;
  transition: all 1s;
}
/* nav admin */
.nav-admin {
  background-color: salmon;
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: space-between;
}
.nav-admin section {
  display: flex;
  width: 200px;
  align-items: center;
  justify-content: space-evenly;
}
/* togle */
/* menu toggle */

.menu-toggle {
  display: flex;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  opacity: 0.8;
  left: -6px;
  top: -3px;
  cursor: pointer;
  z-index: 2;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: white;
  transition: all 0.5s ease;
}

.menu-toggle span:nth-child(2) {
  /* background-color: red; */
  transform-origin: 0 0;
}
.menu-toggle span:nth-child(4) {
  /* background-color: red; */
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  background-color: rgb(240, 96, 96);
  transform: rotate(45deg) translate(-1px, -1px);
}
.menu-toggle input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: scale(0);
}
.menu-toggle input:checked ~ span:nth-child(4) {
  background-color: rgb(240, 96, 96);
  transform: rotate(-45deg) translate(-1px, -1px);
}
/* ====== */
.nav-admin ul {
  display: flex;
  justify-content: space-around;
  width: 400px;
}
.nav-admin ul li {
  list-style: none;
}
.nav-admin ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}
.template-admin article {
  width: 90%;
  margin: 2rem auto;
  border-radius: 0.4rem;
  height: 1000px;
  background-color: skyblue;
}

@media screen and (max-width: 910px) {
  .menu-admin {
    margin-left: -300px;
  }
  .tampilan {
    margin-left: 0;
  }
}
